/* Global rules */
body {font-family: helvetica, sans-serif; color: #333; overflow-y: scroll;}
* {margin: 0; padding: 0; border: 0;}
a, a:visited {color: #31708f; text-decoration: none;}
a:hover {text-decoration: underline;}
.clear {clear: both;}

/* Header */
.header-wrapper {width: 100%; height: 70px; border-bottom: 1px solid #eee;}
.header {width: 1200px; height: 70px; margin: auto; padding: 10px 0;}
.header h1 {line-height: 50px; float: left; margin-left: 20px;}
.header a {line-height: 50px; float: right; margin-right: 20px;}

/* Body */
.wrapper {width: 1200px; height: 100vh; margin: auto; position: relative;}

/* Form */
.form {width: 289px; height: 100%; float: left; border-right: 1px solid #eee;
    padding: 0 20px; line-height: 20px;}
.form form {margin-bottom: 50px;}
.form .intro {padding: 0 10px 10px 10px; background-color: #eee; border-radius:
    3px; margin-top: 20px;}
.form p {padding-top: 10px; font-size: 14px;}
.form .block {display: block; margin-top: 20px; width: 134px; float: left;}
.form .left {margin-right: 20px;}
.form .title {display: block; margin-bottom: 5px;}
.form input[type="checkbox"] {margin: 0 10px 0 1px;}
.form .option {font-size: 13px;}
.form select {width: 147px;}
.form input[type="submit"], button {width: 133px; padding: 13px 15px 14px 15px;
    border: 1px solid #ccc; border-radius: 3px; background-color: #eee;
    font-size: 13px; color: #333; line-height: 13px; height: 42px;}
.form input[type="submit"]:hover {background-color: #eee;}
.form input[type="submit"]:disabled {color: #999;}
.fileUpload {position: relative; overflow: hidden;}
.fileUpload input {position: absolute; top: 0; left: 0; margin: 0; padding: 0;
    font-size: 20px; cursor: pointer; opacity: 0; height: 42px; width: 133px;
    filter: alpha(opacity=0); cursor: default;
}
.alert {padding: 0 10px 10px 10px; background-color: #eee; border-radius: 3px;
    margin-top: 20px; border: 1px solid #ddd; display: none; color: #31708f;
    background-color: #d9edf7; border-color: #bce8f1;}

/* Graph */
.graph {width: 870px; height: 100%; float: left;}
.link {stroke: #4292c6; stroke-opacity: 0.2;}
.node circle {stroke: #fff; stroke-width: 0px; stroke-opacity: 0.2;}
.anchorNode {pointer-events: none; opacity: 0.5;}
